html
{
  background: rgb(37, 37, 37);
  color: rgb(216, 216, 216);
  font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
}

h1, h2, h3, h4
{
  font-family: Roboto Condensed,Source Sans Pro,Calibri,Arial,sans-serif;
}

#docs-main
{
  width: 1000px;
  margin: 0 auto;

}

table
{
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid rgb(88, 88, 88);
  padding: 5px 8px;
  padding-right: 20px;
}

td
{
  font-size: 15px;
}

th
{
  text-align: left;
  background-color: rgb(204, 204, 204);
  color: rgb(29, 29, 29);
}

h2
{
  color: #40baf3;
  margin-bottom: 8px;
  margin-top: 24px;
  margin-left: 10px;
}
h2::after
{
  display: block;
  content : " ";
  margin-top: 4px;
  margin-left: -6px;
  height: 3px;
  width: 20%;
  background: #40baf3;
}

tr:hover
{
  background: rgb(66, 66, 66);
  cursor:pointer;
}

code:hover
{
  cursor:text;
}

body
{
  margin-top: 40px;
  margin-bottom: 250px;
}